{
  "openapi": "3.0.2",
  "info": {
    "title": "Host-to-host API",
    "description": "Server-to-server API for merchants that need direct control over payment creation, callbacks, refunds, payouts, and payment status checks.\n\n**Base URL**\n\n`https://api.platform.dev`\n\n**You need before start**\n\n- `project_id`\n- `secret_key`\n- backend callback URL\n- server-side signature generation\n\n**Start here**\n\n- [Quickstart](/gate/gate-quickstart)\n- [Basic implementation](/gate/gate-quickstart-basic-implementation)\n- [Signature generation](/gate/signature-gate)\n\n**First endpoint to try**\n\n`POST /v2/payment/card/sale`\n\n**Important rule**\n\nBuild the full payload first, generate `general.signature` last, and treat callbacks as the source of the final payment result.",
    "version": "3.0.4"
  },
  "servers": [
    {
      "url": "https://api.platform.dev"
    }
  ],
  "paths": {
    "/v2/payment/card/sale": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/sale",
        "description": "Request for purchase from the customer's card",
        "operationId": "POST_v2-payment-card-sale",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "card",
                  "customer",
                  "payment"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "card": {
                    "$ref": "#/components/schemas/CardInfoForSaleAuth"
                  },
                  "customer": {
                    "$ref": "#/components/schemas/CustomerInfoCard"
                  },
                  "merchant": {
                    "$ref": "#/components/schemas/MerchantInfo"
                  },
                  "avs_data": {
                    "$ref": "#/components/schemas/AvsInfo"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/PaymentInfoForCard"
                  },
                  "return_url": {
                    "$ref": "#/components/schemas/ReturnUrl"
                  },
                  "cash_voucher_data": {
                    "$ref": "#/components/schemas/CashVoucherData"
                  },
                  "recurring": {
                    "$ref": "#/components/schemas/RecurringInfo"
                  },
                  "recurring_register": {
                    "description": "Parameter that indicates whether this payment should be registered as recurring",
                    "type": "boolean"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "receipt_data": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/CallbackInfo"
                  },
                  "addendum": {
                    "$ref": "#/components/schemas/AddendumInitial"
                  },
                  "acs_return_url": {
                    "$ref": "#/components/schemas/ACSReturnUrl"
                  },
                  "authentication_data": {
                    "$ref": "#/components/schemas/AuthenticationData"
                  },
                  "recipient": {
                    "$ref": "#/components/schemas/RecipientForCard"
                  },
                  "booking_info": {
                    "$ref": "#/components/schemas/BookingInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/sale/saved": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/sale/saved",
        "description": "Request for purchase from the customer's saved card",
        "operationId": "POST_v2-payment-card-sale-saved",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "customer",
                  "payment",
                  "saved_account_id"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "customer": {
                    "$ref": "#/components/schemas/CustomerInfoCard"
                  },
                  "merchant": {
                    "$ref": "#/components/schemas/MerchantInfo"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/PaymentInfoForCard"
                  },
                  "avs_data": {
                    "$ref": "#/components/schemas/AvsInfo"
                  },
                  "cash_voucher_data": {
                    "$ref": "#/components/schemas/CashVoucherData"
                  },
                  "saved_account_id": {
                    "type": "integer",
                    "description": "Saved card ID or saved account ID in the payment platform"
                  },
                  "cvv": {
                    "type": "string",
                    "pattern": "^[0-9]{3,4}$",
                    "description": "Card Verification Value/Code (CVV/CVC) of the card. Optional if the MO/TO payment is performed, otherwise - mandatory"
                  },
                  "return_url": {
                    "$ref": "#/components/schemas/ReturnUrl"
                  },
                  "recurring": {
                    "$ref": "#/components/schemas/RecurringInfo"
                  },
                  "recurring_register": {
                    "description": "Parameter that indicates whether this payment should be registered as recurring",
                    "type": "boolean"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "receipt_data": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/CallbackInfo"
                  },
                  "addendum": {
                    "$ref": "#/components/schemas/AddendumInitial"
                  },
                  "acs_return_url": {
                    "$ref": "#/components/schemas/ACSReturnUrl"
                  },
                  "authentication_data": {
                    "$ref": "#/components/schemas/AuthenticationData"
                  },
                  "recipient": {
                    "$ref": "#/components/schemas/RecipientForCard"
                  },
                  "booking_info": {
                    "$ref": "#/components/schemas/BookingInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/sale/token": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/sale/token",
        "operationId": "POST_v2-payment-card-sale-token",
        "description": "Request for purchase from the customer's card by using its token",
        "requestBody": {
          "description": "Payment by token",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "customer",
                  "payment",
                  "token"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "customer": {
                    "$ref": "#/components/schemas/CustomerInfoCard"
                  },
                  "merchant": {
                    "$ref": "#/components/schemas/MerchantInfo"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/PaymentInfoForCard"
                  },
                  "cash_voucher_data": {
                    "$ref": "#/components/schemas/CashVoucherData"
                  },
                  "token": {
                    "description": "Card token received from the payment platform",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "cvv": {
                    "description": "Card Verification Value/Code (CVV/CVC) of the card. Optional if the MO/TO payment is performed, otherwise - mandatory",
                    "type": "string",
                    "pattern": "^[0-9]{3,4}$"
                  },
                  "return_url": {
                    "$ref": "#/components/schemas/ReturnUrl"
                  },
                  "recurring": {
                    "$ref": "#/components/schemas/RecurringInfo"
                  },
                  "recurring_register": {
                    "description": "Parameter that indicates whether this payment should be registered as recurring",
                    "type": "boolean"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "receipt_data": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/CallbackInfo"
                  },
                  "addendum": {
                    "$ref": "#/components/schemas/AddendumInitial"
                  },
                  "acs_return_url": {
                    "$ref": "#/components/schemas/ACSReturnUrl"
                  },
                  "authentication_data": {
                    "$ref": "#/components/schemas/AuthenticationData"
                  },
                  "recipient": {
                    "$ref": "#/components/schemas/RecipientForCard"
                  },
                  "booking_info": {
                    "$ref": "#/components/schemas/BookingInfo"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/v2/payment/card/auth": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/auth",
        "description": "Request for holding funds on the customer's card. The holding of funds can be captured or cancelled by merchant request or automatically if it is specified in merchant project",
        "operationId": "POST_v2-payment-card-auth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "card",
                  "customer",
                  "payment"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "card": {
                    "$ref": "#/components/schemas/CardInfoForSaleAuth"
                  },
                  "avs_data": {
                    "$ref": "#/components/schemas/AvsInfo"
                  },
                  "customer": {
                    "$ref": "#/components/schemas/CustomerInfoCard"
                  },
                  "merchant": {
                    "$ref": "#/components/schemas/MerchantInfo"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/PaymentInfoForCard"
                  },
                  "cash_voucher_data": {
                    "$ref": "#/components/schemas/CashVoucherData"
                  },
                  "return_url": {
                    "$ref": "#/components/schemas/ReturnUrl"
                  },
                  "recurring": {
                    "$ref": "#/components/schemas/RecurringInfo"
                  },
                  "recurring_register": {
                    "description": "Parameter that indicates whether this payment should be registered as recurring",
                    "type": "boolean"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "receipt_data": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/CallbackInfo"
                  },
                  "addendum": {
                    "$ref": "#/components/schemas/AddendumInitial"
                  },
                  "acs_return_url": {
                    "$ref": "#/components/schemas/ACSReturnUrl"
                  },
                  "authentication_data": {
                    "$ref": "#/components/schemas/AuthenticationData"
                  },
                  "booking_info": {
                    "$ref": "#/components/schemas/BookingInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/auth/saved": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/auth/saved",
        "description": "Request for holding funds on the customer's saved card",
        "operationId": "POST_v2-payment-card-auth-saved",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "customer",
                  "payment",
                  "saved_account_id"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "customer": {
                    "$ref": "#/components/schemas/CustomerInfoCard"
                  },
                  "merchant": {
                    "$ref": "#/components/schemas/MerchantInfo"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/PaymentInfoForCard"
                  },
                  "avs_data": {
                    "$ref": "#/components/schemas/AvsInfo"
                  },
                  "cash_voucher_data": {
                    "$ref": "#/components/schemas/CashVoucherData"
                  },
                  "saved_account_id": {
                    "type": "integer",
                    "description": "Saved card ID or saved account ID in the payment platform"
                  },
                  "cvv": {
                    "type": "string",
                    "pattern": "^[0-9]{3,4}$",
                    "description": "Card Verification Value/Code (CVV/CVC) of the card. Optional if the MO/TO payment is performed, otherwise - mandatory"
                  },
                  "return_url": {
                    "$ref": "#/components/schemas/ReturnUrl"
                  },
                  "recurring": {
                    "$ref": "#/components/schemas/RecurringInfo"
                  },
                  "recurring_register": {
                    "description": "Parameter that indicates whether this payment should be registered as recurring",
                    "type": "boolean"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "receipt_data": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/CallbackInfo"
                  },
                  "addendum": {
                    "$ref": "#/components/schemas/AddendumInitial"
                  },
                  "acs_return_url": {
                    "$ref": "#/components/schemas/ACSReturnUrl"
                  },
                  "authentication_data": {
                    "$ref": "#/components/schemas/AuthenticationData"
                  },
                  "booking_info": {
                    "$ref": "#/components/schemas/BookingInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/auth/token": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/auth/token",
        "operationId": "POST_v2-payment-card-auth-token",
        "description": "Request for holding funds on the customer's saved card by using its token",
        "requestBody": {
          "description": "DMS first step by token",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "customer",
                  "payment",
                  "token"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "customer": {
                    "$ref": "#/components/schemas/CustomerInfoCard"
                  },
                  "merchant": {
                    "$ref": "#/components/schemas/MerchantInfo"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/PaymentInfoForCard"
                  },
                  "cash_voucher_data": {
                    "$ref": "#/components/schemas/CashVoucherData"
                  },
                  "token": {
                    "description": "Card token received from the payment platform",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "cvv": {
                    "description": "Card Verification Value/Code (CVV/CVC) of the card. Optional if the MO/TO payment is performed, otherwise - mandatory",
                    "type": "string",
                    "pattern": "^[0-9]{3,4}$"
                  },
                  "return_url": {
                    "$ref": "#/components/schemas/ReturnUrl"
                  },
                  "recurring": {
                    "$ref": "#/components/schemas/RecurringInfo"
                  },
                  "recurring_register": {
                    "description": "Parameter that indicates whether this payment should be registered as recurring",
                    "type": "boolean"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "receipt_data": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/CallbackInfo"
                  },
                  "addendum": {
                    "$ref": "#/components/schemas/AddendumInitial"
                  },
                  "acs_return_url": {
                    "$ref": "#/components/schemas/ACSReturnUrl"
                  },
                  "authentication_data": {
                    "$ref": "#/components/schemas/AuthenticationData"
                  },
                  "booking_info": {
                    "$ref": "#/components/schemas/BookingInfo"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/v2/payment/card/incremental": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/incremental",
        "description": "Request for changing the amount of payment after holding, before confirm",
        "operationId": "POST_v2-payment-card-incremental",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "payment"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "customer": {
                    "$ref": "#/components/schemas/CustomerInfoCard"
                  },
                  "payment": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 10000000000000,
                        "description": "Amount to increment"
                      },
                      "currency": {
                        "type": "string",
                        "pattern": "^[A-Z]{3}$",
                        "description": "Payment currency in ISO 4217 alpha-3 format, must be same with currency in auth request"
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Payment description"
                      },
                      "extra_param": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Extra payment settings parameters. For more information, refer to the Key Account Manager"
                      }
                    },
                    "required": [
                      "currency",
                      "amount"
                    ]
                  },
                  "addendum": {
                    "$ref": "#/components/schemas/Addendum"
                  },
                  "booking_info": {
                    "$ref": "#/components/schemas/BookingInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/capture": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/capture",
        "description": "Request for debit of the previously held funds on the customer's card",
        "operationId": "POST_v2-payment-card-capture",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "payment": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "integer",
                        "description": "Payment amount, can be equal to, less or more than in the initial auth request. If the amount is less or more than in the auth request a decremental or incremental operation is created automatically"
                      },
                      "currency": {
                        "type": "string",
                        "pattern": "^[A-Z]{3}$",
                        "description": "Payment currency in ISO 4217 alpha-3 format, must match the currency in the initial auth request"
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Payment description or comment"
                      },
                      "extra_param": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Extra payment settings parameters. For more information, refer to the Key Account Manager"
                      }
                    }
                  },
                  "cash_voucher_data": {
                    "$ref": "#/components/schemas/CashVoucherData"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/CallbackInfo"
                  },
                  "addendum": {
                    "$ref": "#/components/schemas/Addendum"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/cancel": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/cancel",
        "description": "Request to cancel the holding of funds on the customer's card",
        "operationId": "POST_v2-payment-card-cancel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "payment": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "integer",
                        "description": "Payment amount, can be equal to or less than in the initial auth request. If the amount is less than in the auth request a decremental operation is created automatically"
                      },
                      "currency": {
                        "type": "string",
                        "pattern": "^[A-Z]{3}$",
                        "description": "Payment currency in ISO 4217 alpha-3 format, must match the currency in auth request"
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Payment description or comment"
                      },
                      "extra_param": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Extra payment settings parameters. For more information, refer to the Key Account Manager"
                      }
                    }
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "receipt_data": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/CallbackInfo"
                  },
                  "addendum": {
                    "$ref": "#/components/schemas/Addendum"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/account_verification": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/account_verification",
        "description": "Request for card verification without performing actual withdrawal",
        "operationId": "POST_v2-payment-card-account-verification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "card",
                  "customer",
                  "payment"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "card": {
                    "$ref": "#/components/schemas/CardInfo"
                  },
                  "customer": {
                    "type": "object",
                    "description": "Object that contains full customer details",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/CustomerInfo"
                      },
                      {
                        "type": "object",
                        "required": [
                          "id"
                        ]
                      }
                    ]
                  },
                  "payment": {
                    "$ref": "#/components/schemas/AccountVerificationPaymentInfoForCard"
                  },
                  "return_url": {
                    "$ref": "#/components/schemas/ReturnUrl"
                  },
                  "recurring": {
                    "$ref": "#/components/schemas/RecurringInfo"
                  },
                  "recurring_register": {
                    "description": "Parameter that indicates whether this payment should be registered as recurring",
                    "type": "boolean"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "avs_data": {
                    "$ref": "#/components/schemas/AvsInfo"
                  },
                  "acs_return_url": {
                    "$ref": "#/components/schemas/ACSReturnUrl"
                  },
                  "authentication_data": {
                    "$ref": "#/components/schemas/AuthenticationData"
                  },
                  "booking_info": {
                    "$ref": "#/components/schemas/BookingInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/account_verification/token": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/account_verification/token",
        "description": "Request for card verification by token without performing actual withdrawal",
        "operationId": "POST_v2-payment-card-account-verification-by-token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "customer",
                  "payment",
                  "token"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "customer": {
                    "type": "object",
                    "description": "Object that contains full customer details",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/CustomerInfo"
                      },
                      {
                        "type": "object",
                        "required": [
                          "id"
                        ]
                      }
                    ]
                  },
                  "payment": {
                    "$ref": "#/components/schemas/AccountVerificationPaymentInfoForCard"
                  },
                  "return_url": {
                    "$ref": "#/components/schemas/ReturnUrl"
                  },
                  "recurring": {
                    "$ref": "#/components/schemas/RecurringInfo"
                  },
                  "recurring_register": {
                    "description": "Parameter that indicates whether this payment should be registered as recurring",
                    "type": "boolean"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "avs_data": {
                    "$ref": "#/components/schemas/AvsInfo"
                  },
                  "acs_return_url": {
                    "$ref": "#/components/schemas/ACSReturnUrl"
                  },
                  "authentication_data": {
                    "$ref": "#/components/schemas/AuthenticationData"
                  },
                  "token": {
                    "description": "Card token received from the payment platform",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "cvv": {
                    "description": "Card Verification Value/Code (CVV/CVC) of the card. Optional if the MO/TO payment is performed, otherwise - mandatory",
                    "type": "string",
                    "pattern": "^[0-9]{3,4}$"
                  },
                  "card": {
                    "type": "object",
                    "properties": {
                      "stored_card_type": {
                        "$ref": "#/components/schemas/StoredCardType"
                      }
                    }
                  },
                  "booking_info": {
                    "$ref": "#/components/schemas/BookingInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/recurring": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/recurring",
        "description": "Request to perform regular COF payment from the customer's card",
        "operationId": "POST_v2-payment-card-recurring",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "customer",
                  "payment"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "customer": {
                    "type": "object",
                    "description": "Object that contains full customer details",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/CustomerInfo"
                      },
                      {
                        "type": "object",
                        "required": [
                          "id"
                        ]
                      }
                    ]
                  },
                  "merchant": {
                    "$ref": "#/components/schemas/MerchantInfo"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/PaymentInfoRecurring"
                  },
                  "cash_voucher_data": {
                    "$ref": "#/components/schemas/CashVoucherData"
                  },
                  "recurring": {
                    "$ref": "#/components/schemas/RecurringIdInfo"
                  },
                  "recurring_id": {
                    "description": "Recurring payment identifier received from the payment platform",
                    "type": "integer"
                  },
                  "return_url": {
                    "$ref": "#/components/schemas/ReturnUrl"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "receipt_data": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/CallbackInfo"
                  },
                  "booking_info": {
                    "$ref": "#/components/schemas/BookingInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/recurring/update": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/recurring/update",
        "description": "Request to update or change recurring payment conditions",
        "operationId": "POST_v2-payment-card-recurring-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "recurring"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "recurring": {
                    "$ref": "#/components/schemas/RecurringUpdateInfo"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/recurring/info": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/recurring/info",
        "description": "Request to get info about recurring payment conditions",
        "operationId": "POST_v2-payment-card-recurring-info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "recurring"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "type": "object",
                    "description": "Object that contains general request details",
                    "properties": {
                      "project_id": {
                        "type": "integer",
                        "description": "Identifier of merchant project received from Platform",
                        "minimum": 1,
                        "maximum": 4294967295
                      },
                      "signature": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255,
                        "description": "Digital signature generated on the basis of request parameters by using the project secret key. For more information, see [Signature generation and verification](https://developers.platform.dev/en/en_gate_authentication.html)"
                      }
                    },
                    "required": [
                      "project_id",
                      "signature"
                    ]
                  },
                  "recurring": {
                    "type": "object",
                    "description": "Object that contains recurring payment identifier",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "minimum": 1,
                        "description": "Unique identifier of the recurring payment in the payment platform"
                      }
                    },
                    "required": [
                      "id"
                    ]
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringInfoSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/recurring/cancel": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/recurring/cancel",
        "description": "Request to cancel recurring payment",
        "operationId": "POST_v2-payment-card-recurring-cancel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "recurring"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "recurring": {
                    "$ref": "#/components/schemas/RecurringIdInfo"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/merchant_auth": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/merchant_auth",
        "description": "Request for performing a customer authentication by the payment system on merchant's request",
        "operationId": "POST_v2-payment-card-merchant_auth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/MerchantAuthGeneralInfo"
                  },
                  "confirmation_code": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Authentication confirmation code entered by a customer"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/3ds_check_iframe": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/3ds_check_iframe",
        "operationId": "POST_v2-payment-card-3ds_check_iframe",
        "description": "Request to check enrolled card after show iframe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo3DS"
                  },
                  "threeds_completion_indicator": {
                    "description": "Did callback come after displaying hidden iframe",
                    "type": "boolean"
                  },
                  "md": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Merchant state data. The content of this field must be passed unchanged and without assumptions about its content"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/3ds_result": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/3ds_result",
        "description": "Request to continue payment processing after 3-D Secure authentication",
        "operationId": "POST_v2-payment-card-3ds_result",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "required": [
                      "general",
                      "cres"
                    ],
                    "type": "object",
                    "properties": {
                      "general": {
                        "$ref": "#/components/schemas/GeneralInfo3DS"
                      },
                      "cres": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Signed notification with the result of the 3-D Secure 2 authentication"
                      },
                      "md": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Merchant state data received from the payment platform in the callback. The content of this field must be passed unchanged and without assumptions about its content"
                      },
                      "interface_type": {
                        "$ref": "#/components/schemas/SourceInfo"
                      }
                    }
                  },
                  {
                    "required": [
                      "general",
                      "pares"
                    ],
                    "type": "object",
                    "properties": {
                      "general": {
                        "$ref": "#/components/schemas/GeneralInfo3DS"
                      },
                      "pares": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Signed notification with the result of the 3-D Secure authentication"
                      },
                      "md": {
                        "type": "string",
                        "description": "Merchant state data received from the payment platform in the callback. The content of this field must be passed unchanged and without assumptions about its content"
                      },
                      "interface_type": {
                        "$ref": "#/components/schemas/SourceInfo"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/refund": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/refund",
        "description": "* Request for full or partial refund to the customer's card.\n* Refund is requested in the same currency that the payment was performed.\n* The refund amount can be less than or equal to the amount of the initial payment. The partial refund amount is specified in the parameter  `amount`.\n* If the refund amount is not specified in the request, the full amount of the initial payment is refunded",
        "operationId": "POST_v2-payment-card-refund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "payment"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "merchant": {
                    "$ref": "#/components/schemas/MerchantInfo"
                  },
                  "cash_voucher_data": {
                    "$ref": "#/components/schemas/CashVoucherData"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/RefundPaymentInfo"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "receipt_data": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/CallbackInfo"
                  },
                  "addendum": {
                    "$ref": "#/components/schemas/Addendum"
                  },
                  "booking_info": {
                    "$ref": "#/components/schemas/BookingInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/payout": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/payout",
        "description": "Request to credit funds to the customer's card",
        "operationId": "POST_v2-payment-card-payout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "card",
                  "customer",
                  "payment"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "card": {
                    "$ref": "#/components/schemas/CardInfoLight"
                  },
                  "customer": {
                    "$ref": "#/components/schemas/CustomerInfoPayout"
                  },
                  "sender": {
                    "$ref": "#/components/schemas/SenderInfo"
                  },
                  "recipient": {
                    "type": "object",
                    "properties": {
                      "country": {
                        "maxLength": 2,
                        "pattern": "^[A-Z]{2}$",
                        "type": "string",
                        "description": "Country code of recipient"
                      },
                      "address": {
                        "maxLength": 99,
                        "type": "string",
                        "description": "Recipient address"
                      },
                      "city": {
                        "maxLength": 25,
                        "type": "string",
                        "description": "City of recipient address"
                      },
                      "state": {
                        "maxLength": 3,
                        "pattern": "^[A-Z]+$",
                        "type": "string",
                        "description": "State code of recipient"
                      },
                      "first_name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Customer first name"
                      },
                      "last_name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Customer last name"
                      }
                    }
                  },
                  "avs_data": {
                    "$ref": "#/components/schemas/AvsInfo"
                  },
                  "payment": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PaymentInfo"
                      },
                      {
                        "type": "object",
                        "description": "Object that contains payment details",
                        "properties": {
                          "purpose": {
                            "type": "string",
                            "maxLength": 12,
                            "description": "Payment purpose code—the parameter is populated if specification of payment purpose is mandatory in issuer country"
                          }
                        }
                      }
                    ]
                  },
                  "cash_voucher_data": {
                    "$ref": "#/components/schemas/CashVoucherData"
                  },
                  "return_url": {
                    "$ref": "#/components/schemas/ReturnUrl"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "receipt_data": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/CallbackInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/card/payout/token": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/card/payout/token",
        "description": "Request to credit funds to the customer's card by using its token",
        "operationId": "POST_v2-payment-card-payout-token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "customer",
                  "payment",
                  "token"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "customer": {
                    "$ref": "#/components/schemas/CustomerInfoPayout"
                  },
                  "sender": {
                    "$ref": "#/components/schemas/SenderInfo"
                  },
                  "recipient": {
                    "type": "object",
                    "properties": {
                      "country": {
                        "maxLength": 2,
                        "pattern": "^[A-Z]{2}$",
                        "type": "string",
                        "description": "Country code of recipient"
                      },
                      "address": {
                        "maxLength": 99,
                        "type": "string",
                        "description": "Recipient address"
                      },
                      "city": {
                        "maxLength": 25,
                        "type": "string",
                        "description": "City of recipient address"
                      },
                      "state": {
                        "maxLength": 3,
                        "pattern": "^[A-Z]+$",
                        "type": "string",
                        "description": "State code of recipient"
                      },
                      "first_name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Customer first name"
                      },
                      "last_name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Customer last name"
                      }
                    }
                  },
                  "payment": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PaymentInfo"
                      },
                      {
                        "type": "object",
                        "description": "Object that contains payment details",
                        "properties": {
                          "purpose": {
                            "type": "string",
                            "maxLength": 12,
                            "description": "Payment purpose code—the parameter is populated if specification of payment purpose is mandatory in issuer country"
                          }
                        }
                      }
                    ]
                  },
                  "return_url": {
                    "$ref": "#/components/schemas/ReturnUrl"
                  },
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Card token received from the payment platform"
                  },
                  "card": {
                    "type": "object",
                    "properties": {
                      "card_holder": {
                        "type": "string",
                        "maxLength": 255,
                        "pattern": "^[a-zA-Z0-9\\s\\-.']+$",
                        "description": "The name of the cardholder (as specified on the card)"
                      }
                    }
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  },
                  "receipt_data": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/CallbackInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/individual/payout": {
      "post": {
        "tags": [
          "Card payments"
        ],
        "summary": "/v2/payment/individual/payout",
        "description": "Request to credit funds to a customer's card by using P2P scheme",
        "operationId": "POST_v2-payment-individual-payout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "card",
                  "customer",
                  "payment"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfo"
                  },
                  "card": {
                    "$ref": "#/components/schemas/CardInfoLight"
                  },
                  "customer": {
                    "$ref": "#/components/schemas/CustomerInfoPayout"
                  },
                  "sender": {
                    "$ref": "#/components/schemas/SenderInfo"
                  },
                  "avs_data": {
                    "$ref": "#/components/schemas/AvsInfo"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/PaymentInfo"
                  },
                  "return_url": {
                    "$ref": "#/components/schemas/ReturnUrl"
                  },
                  "callback": {
                    "$ref": "#/components/schemas/CallbackInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/customer/card/bytoken": {
      "post": {
        "tags": [
          "Token operations"
        ],
        "summary": "/v2/customer/card/bytoken",
        "description": "Request for retrieving the saved customer's payment account details by customer's card token in specific project",
        "operationId": "POST_v2-customer-card-bytoken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "customer",
                  "token"
                ],
                "type": "object",
                "properties": {
                  "customer": {
                    "$ref": "#/components/schemas/CustomerGeneralInfo"
                  },
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Card token received from the payment platform"
                  }
                },
                "description": "Object that contains parameters for receiving of the customer's payment account in the project"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "account",
                    "signature"
                  ],
                  "type": "object",
                  "properties": {
                    "signature": {
                      "type": "string",
                      "description": "Digital signature generated on the basis of response parameters by using the project secret key"
                    },
                    "account": {
                      "$ref": "#/components/schemas/SavedAccount"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Data validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data structure or JSON parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/customer/card/tokenize": {
      "post": {
        "tags": [
          "Token operations"
        ],
        "summary": "/v2/customer/card/tokenize",
        "description": "Request for the token generation of a customer's card",
        "operationId": "POST_v2-customer-card-tokenize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "customer",
                  "card"
                ],
                "type": "object",
                "properties": {
                  "customer": {
                    "$ref": "#/components/schemas/TokenizeCustomerInfo"
                  },
                  "card": {
                    "$ref": "#/components/schemas/CardInfoForTokenize"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid JSON data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/customer/card/token/revoke": {
      "post": {
        "tags": [
          "Token operations"
        ],
        "summary": "/v2/customer/card/token/revoke",
        "description": "Request for revoking token.",
        "operationId": "POST_v2-customer-card-token-revoke",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token",
                  "customer"
                ],
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "customer": {
                    "$ref": "#/components/schemas/CustomerGeneralInfo"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid JSON data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment/clarification": {
      "post": {
        "tags": [
          "Additional information submission"
        ],
        "summary": "/v2/payment/clarification",
        "description": "Request to pass the parameters required to make a payment and missed in the previously sent payment request",
        "operationId": "POST_v2-clarification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "general",
                  "additional_data"
                ],
                "type": "object",
                "properties": {
                  "general": {
                    "$ref": "#/components/schemas/GeneralInfoClarification"
                  },
                  "additional_data": {
                    "$ref": "#/components/schemas/AdditionalData"
                  },
                  "interface_type": {
                    "$ref": "#/components/schemas/SourceInfo"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSuccessResponse"
[...]
