swagger: '2.0'
x-stoplight:
  id: n7hd6j86lte2y
info:
  version: '2.0'
  title: Data API
  description: |-
    Reporting API for retrieving balances, operations, and payment data from the platform.

    **Base URL**

    `https://data.platform.dev/v1`

    **Use this API when**

    - you need reporting and reconciliation data
    - you need operation history or payment details
    - you want balances and analytics-style backend access

    **You need before start**

    - `token` generated in Dashboard for the target user account
    - `secret_key` associated with that token to generate `signature`

    **Start here**

    - [Using Data API](../dashboard/dbl-api-protocol/)
    - [Dashboard docs](../dashboard/)

    **First endpoints to try**

    - `POST /balance/get`
    - `POST /operations/get`
    - `POST /payment/get`

    **Important rule**

    Data API is for retrieval and reporting. Use Host-to-host API for payment creation, refunds, payouts, and other transactional flows.
host: data.platform.dev
schemes:
  - https
paths:
  /v1/balance/get:
    post:
      operationId: POST_balance-get
      summary: /v1/balance/get
      tags:
        - Balance
      description: Request to retrieve merchant contracts balances.
      consumes:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            required:
              - token
              - signature
            properties:
              token:
                type: string
                description: Token generated by Monetix Dashboard for user account.
              signature:
                type: string
                description: Digital signature generated by using secret key (salt) associated with the token specified in the token parameter.
          x-examples:
            application/json:
              token: ZOyTL5shY8ddhpxdQyplRPJYmGV7Kv
              signature: dQcIbv94Z0nPTYX9glSCi...jqInXqYrY9bzkfcBGQ==
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiBalanceList'
          examples:
            application/json:
              balance:
                - name: Project_Cosmo1_balance_RUB
                  RUB: '1010750'
                - name: Project_Cosmo1_balance_USD
                  SGD: '310099'
                - name: Project_Cosmo1_balance_EUR
                  EUR: '113128'
              signature: 3XOq69...OKvPLwQQrRtwxFy5gTz1ggQkoMK9tw5w==
        '400':
          description: Validation error
          schema:
            $ref: '#/definitions/ApiErrorResponse'
        '401':
          description: Authentication error
          schema:
            $ref: '#/definitions/ApiErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ApiErrorResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ApiErrorResponse'
      x-stoplight:
        id: 4s9e23q6jy3hp
  /v1/operations/get:
    post:
      operationId: POST_operations-get
      summary: /v1/operations/get
      tags:
        - Operations
      description: Request to retrieve operations performed in the payment platform for specific merchant projects.
      consumes:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              project_id:
                type: array
                description: 'Array of one or more project IDs. If array is omitted, the payment platform returns information for all projects accessible for the user account which is associated with the token specified in the token parameter.'
                items:
                  type: integer
              interval:
                type: object
                description: 'Time period with start and end times for which to retrieve data. By default, the response returns operations most recently completed.'
                required:
                  - from
                  - to
                properties:
                  from:
                    type: string
                    description: 'Start time in the YYYY-MM-DDThh:mm:ss format.'
                  to:
                    type: string
                    description: 'End time in the YYYY-MM-DDThh:mm:ss format.'
              tz:
                type: string
                description: 'Name of time zone for the time period, for example UTC or Indian/Mauritius. Time zone affects what operations will be selected for the time period specified in the interval object and the format of time parameters in the response—operation_created_at and operation_completed_at. Time zone name must be one of the names in the IANA time zone database.'
              limit:
                type: integer
                description: Number of entries to return per request. Maximum and default value is 1000.
              offset:
                type: integer
                description: 'Pagination start offset. Specifies the number of entries to skip, before starting to return entries. Default value is 0.'
              operation_type:
                type:
                  - array
                  - string
                description: 'Operation type[s]. One or more operation types supported by the payment platform. The operation_type variable can be passed as an array (if you need to pass one or more values) and as a string (if you need to pass a single value).'
                items:
                  type: string
              operation_status:
                type:
                  - array
                  - string
                description: 'Operation status[es]. One or more operation statuses supported by the payment platform. The operation_status variable can be passed as an array (if you need to pass one or more values) and as a string (if you need to pass a single value).'
                items:
                  type: string
              customer_id:
                type:
                  - array
                  - string
                description: 'Unique customer identifier[s]. One or more unique identifiers of customers in your project. The customer_id variable can be passed as an array (if you need to pass one or more values) and as a string (if you need to pass a single value).'
                items:
                  type: string
              customer_email:
                type: string
                description: Customer email.
              token:
                type: string
                description: Token generated in Monetix Dashboard for user account.
              fields:
                type: array
                description: 'An array of one or more parameter names the values of which are needed to be returned for each operation in the response. In the array, the parameter names must be enclosed in matching quotation marks and separated by commas and can be specified in an arbitrary order (for example, operation_id, payment_id, project_id). However, in the response the parameter values are returned in the fixed order which, together with the list of parameters, is defined in the response specification.  If the array is omitted, then the response contains the values of the required parameters for each operation.'
                items:
                  type: string
              signature:
                type: string
                description: Digital signature generated by using secret key associated with the token specified in the token parameter.
            required:
              - token
              - signature
          x-examples:
            application/json:
              project_id:
                - 0
                - 11
              interval:
                from: '2020-08-01 00:00:00'
                to: '2020-08-28 23:59:59'
              limit: '2'
              offset: '1000'
              operation_type:
                - sale
                - refund
              operation_status:
                - success
                - decline
              customer_email: johndoe@example.com
              token: ZOyTL5shY8ddhpxdQyplRPJYmGV7Kv
              fields:
                - operation_id
                - operation_type
                - operation_status
                - sum_initial.amount
                - sum_initial.currency
                - customer_email
              signature: sd0fr5YsdBVmJ...grkglpeXJg==
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiOperationsList'
          examples:
            application/json:
              operations:
                - operation_id: '6435212162442'
                  project_id: '11'
                  payment_id: '06c1-b285'
                  operation_type: sale
                  operation_status: success
                  account_number: '424242******4242'
                  customer_ip: '87.245.207.226'
                  payment_method_name: 'visa'
                  payment_method_type: 'visa'
                  payment_description: ''
                  operation_created_at: '2018-08-01T08:28:47+00:00'
                  operation_completed_at: ''
                  provider_date: '2018-02-07T10:34:24+00:00'
                  shipment_date: ''
                  arn: '30407191169003210010678' 
                  rrn: '001045563840'
                  payment_provider_code: ''
                  payment_provider_message: ''
                  sum_initial:
                    amount: 1200
                    currency: USD
                  sum_converted:
                    amount: 1200
                    currency: USD
                  customer_email: johndoe@example.com
                - operation_id: '1232452442'
                  operation_type: refund
                  operation_status: success
                  project_id: '11'
                  payment_id: '06c1-b285'
                  account_number: '424242******4242'
                  customer_ip: '87.245.207.226'
                  payment_method_name: 'visa'
                  payment_method_type: 'visa'
                  payment_description: ''
                  operation_created_at: '2018-08-01T08:28:47+00:00'
                  operation_completed_at: ''
                  provider_date: '2018-02-07T10:34:24+00:00'
                  shipment_date: ''
                  arn: '30407191169003210010678' 
                  rrn: '128905563823'
                  payment_provider_code: ''
                  payment_provider_message: ''
                  sum_initial:
                    amount: 5800
                    currency: EUR
                  sum_converted:
                    amount: 5800
                    currency: EUR
                  customer_email: johndoe@example.com
              signature: k4iXC845FvT+...dS0AH5BGIw==
        '400':
          description: Validation error
          schema:
            $ref: '#/definitions/ApiErrorResponse'
        '401':
          description: Authentication error
          schema:
            $ref: '#/definitions/ApiErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ApiErrorResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ApiErrorResponse'
      x-stoplight:
        id: i0n2zj4cyvkc3
  /v1/operations/get-by-payment:
    post:
      operationId: POST_operations-get-by-payment
      summary: /v1/operations/get-by-payment
      tags:
        - Operations
      description: Request to retrieve all the operations performed in the payment platform for specific payment.
      consumes:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            required:
              - payment_id
              - token
              - signature
            properties:
              payment_id:
                type: string
                description: Payment ID in the project.
              token:
                type: string
                description: Token generated by Monetix Dashboard for user account.
              signature:
                type: string
                description: Digital signature generated by using secret key (salt) associated with the token specified in the token parameter.
          x-examples:
            application/json:
              payment_id: PID_25467851461-2147
              token: VmJQhaXILAnZWTKmqwSd3j
              signature: JM+YWmTL7uGn26IgZWTKmqwSd...tRkvdC0yaq030+eNXVtJjjtgrkglpeXJg==
      responses:
        '200':
          description: OK
          schema:
            type: object
            description: List of operations with operation details.
            properties:
              operations:
                type: array
                items:
                  type: object
                  description: Operation details.
                  properties:
                    operation_id:
                      type: string
                      description: Payment operation ID provided by Monetix.
                    operation_type:
                      type: string
                      description: Operation type. One of operation types supported by the Monetix payment platform.
                    operation_created_at:
                      type: string
                      description: 'Date and time when the operation was created. Format: YYYY-MM-DDThh:mm:ss±hh:mm.'
                    operation_completed_at:
                      type: string
                      description: 'Date and time when the operation was completed in the payment platform. Format: YYYY-MM-DDThh:mm:ss±hh:mm.'
                    amount:
                      type: number
                      description: Operation amount in minor currency units.
                    currency:
                      type: string
                      description: Operation currency code. Currency code must comply with ISO 4217 alpha-3.
                    arn:
                      type: string
                      description: Acquirer Reference Number - 23 digits of the unique operation identifier in clearing exchange between banks or processing centers.
                    rrn:
                      type: string
                      description: 'Reference Retrieval Number - 12 digits of the unique operation identifier, which is assigned by the Acquirer Bank when the payment is initialized.'
                  required:
                    - operation_id
                    - operation_type
                    - operation_created_at
                    - operation_completed_at
                    - amount
                    - currency
                    - arn
                    - rrn
              signature:
                type: string
                description: Digital signature generated by using secret key (salt) of Monetix Dashboard user account. The payment platform uses the same key that was previously used to sign the request.
          examples:
            application/json:
              operations:
                - arn: ''
                  operation_completed_at: '2019-11-22T13:13:04+00:00'
                  operation_type: refund
                  operation_id: '2747253065470'
                  amount: 221
                  currency: RUB
                  operation_created_at: '2019-11-22T13:13:04+00:00'
                  rrn: '803817399309'
                - arn: ''
                  operation_completed_at: '2019-11-22T13:09:03+00:00'
                  operation_type: capture
                  operation_id: '2747253065469'
                  amount: 1621
                  currency: RUB
                  operation_created_at: '2019-11-22T13:09:03+00:00'
                  rrn: '000000248370'
                - arn: ''
                  operation_completed_at: '2019-11-22T13:06:40+00:00'
                  operation_type: auth
                  operation_id: '2747253065468'
                  amount: 2000
                  currency: RUB
                  operation_created_at: '2019-11-22T13:06:38+00:00'
                  rrn: '000047769105'
              signature: hsUpqn7QPDxNLNH/ZulaK...z/Hv7NkQFujSnvw==
        '400':
          description: Validation error
          schema:
            $ref: '#/definitions/ApiErrorResponse'
        '401':
          description: Authentication error
          schema:
            $ref: '#/definitions/ApiErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ApiErrorResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ApiErrorResponse'
      x-stoplight:
        id: t4i528hyfxwnp
definitions:
  ApiBalanceList:
    title: ApiBalanceList
    type: object
    description: List of balances with balance details.
    properties:
      balance:
        type: array
        description: Array of balances.
        items:
          $ref: '#/definitions/BalanceTransactionItem'
      signature:
        type: string
        description: Digital signature generated by using secret key (salt) of Monetix Dashboard user account. The payment platform uses the same key that was previously used to sign the request.
    x-stoplight:
      id: xa94vlrfbd2jj
  BalanceTransactionItem:
    title: BalanceTransactionItem
    type: object
    description: Balance details.
    properties:
      name:
        type: string
        description: Balance name within the contract.
      '{additionalProperties}':
        type: string
        description: 'Currency code and balance amount in minor currency units presented as parameter-value pair, for example: EUR: 5000. Currency code is specified as the parameter name. Balance amount is specified as parameter value.'
    x-stoplight:
      id: g33kd3o0v2z81
  OperationItem:
    title: OperationItem
    type: object
    description: Operation details.
    required:
      - project_id
      - operation_id
      - payment_id
      - operation_type
      - operation_status
      - account_number
      - customer_ip
      - payment_method_name
      - payment_method_type
      - payment_description
      - operation_created_at
      - operation_completed_at
      - provider_date
      - shipment_date
      - sum_initial
      - sum_converted
      - arn
      - rrn
      - payment_provider_code
      - payment_provider_message
    properties:
      project_id:
        type: string
        description: Project ID provided by Monetix.
      operation_id:
        type: string
        description: Payment operation ID provided by Monetix.
      payment_id:
        type: string
        description: Payment ID in the project.
      operation_type:
        type: string
        description: Operation type. One of the operation types supported by the Monetix payment platform.
      operation_status:
        type: string
        description: Operation status. One of the operation statuses supported by the Monetix payment platform.
      account_number:
        type: string
        description: 'ID of the payment instrument used by customer, for example, card number or wallet ID.'
      customer_ip:
        type: string
        description: Customer IP address.
      payment_method_name:
        type: string
        description: Name of the payment method used for payment processing.
      payment_method_type:
        type: string
        description: Type of the payment method used for payment processing.
      payment_description:
        type: string
        description: Description of the payment as specified in the initial request.
      operation_created_at:
        type: string
        description: 'Date and time when the operation was created. Format: YYYY-MM-DDThh:mm:ss±hh:mm.'
      operation_completed_at:
        type: string
        description: 'Date and time when the operation was completed in the payment platform. Format: YYYY-MM-DDThh:mm:ss±hh:mm.'
      provider_date:
        type: string
        description: 'Date and time when the operation was completed on the payment provider side. Format: YYYY-MM-DDThh:mm:ss±hh:mm.'
      shipment_date:
        type: string
        description: 'Date and time when the payment provider posted the operation for clearing. Format: YYYY-MM-DDThh:mm:ss±hh:mm.'
      sum_initial:
        type: object
        description: Amount and currency code of the operation as specified in the initial request.
        required:
          - amount
          - currency
        properties:
          amount:
            type: integer
            description: Operation amount in minor currency units as specified in the initial request.
          currency:
            type: string
            description: Operation currency code as specified in the initial request. Must be the ISO 4217 alpha-3 currency code.
      sum_converted:
        type: object
        description: Code of the currency that the payment provider used for performing the operation and the initial amount converted to this currency.
        required:
          - amount
          - currency
        properties:
          amount:
            type: integer
            description: Operation amount in minor units of the payment provider currency.
          currency:
            type: string
            description: Code of the currency that the payment provider used for performing the operation. Must be the ISO 4217 alpha-3 currency code.
      arn:
        type: string
        description: 'Acquirer Reference Number: a unique operation identifier in clearing exchange between banks or processing centers.'
      rrn:
        type: string
        description: 'Reference Retrieval Number: a unique operation identifier assigned by the acquirer bank when the payment is initialized.'
      payment_provider_code:
        type: string
        description: Numeric code of payment result from the card issuer or payment provider.
      payment_provider_message:
        type: string
        description: Message of payment result from the card issuer or payment provider.
      acquirer_bank_name:
        type: string
        description: Name of the acquirer bank.
      auth_code:
        type: string
        description: Alphanumeric code which confirms that the card issuer / payment system approved processing of the payment. Authorization codes are not assigned to declined payments.
      avs_post_code:
        type: string
        description: 'Customer postal code for verification with the Address Verification Service. AVS applies to cardholders from the UK, USA, and Canada.'
      avs_result:
        type: string
        description: 'A single-letter Address Verification Service response code sent by the issuer following the address verification. AVS applies to cardholders from the UK, USA, and Canada.'
      avs_street_address:
        type: string
        description: 'Customer postal address for verification with the Address Verification Service. AVS applies to cardholders from the UK, USA, and Canada.'
      balance_id:
        type: string
        description: ID of the merchant's balance aggregation in the Monetix payment platform under which all merchant accounts are aggregated. This ID is masked by adding id_mask to the initial identifier.
      bank_name:
        type: string
        description: Name of the issuer determined according to the BIN of the card.
      bin:
        type: string
        description: 'Bank Identification Number (first six to eight digits of PAN). Numeric identifier of the card organization member. Assigned separately to each card level (for example, Classic, Standard, Gold, Maestro, Visa Electron, etc.) offered by the issuing bank—a card organization member. Also referred to as IIN (Issuer Identification Number).'
      card_enroll_check:
        type: string
        description: 'Specifies if the card supports 3-D Secure. Possible values are: E—Enrolled (the card supports 3DS), N—Not enrolled, U—Undefined (was unable to determine).'
      card_holder:
        type: string
        description: The name of the cardholder (as specified on the card).
      card_product_name:
        type: string
        description: Name of the bank product determined according to the BIN of the card.
      card_token:
        type: string
        description: Token of the customer bank card in the Monetix payment platform.
      completed_refund:
        type: string
        description: Amount of the issued refund in minor units of currency.
      country_by_ip:
        type: string
        description: Country determined according to the IP address of the customer (two-letter ISO country code).
      country_by_bin:
        type: string
        description: 'Country determined according to the BIN of the card, country of the card''s issuer (two-letter ISO code).'
      currency_rate:
        type: string
        description: Currency exchange rate used for conversion of the payment amount from the source currency to the default currency.
      customer_email:
        type: string
        description: Customer email address.
      customer_id:
        type: string
        description: Identifier of the customer in the merchant's project.
      eci:
        type: string
        description: 'Electronic commerce indicator. For possible values and more information, see [ECI codes](https://developers.gtxpoint.com/en/en_eci_codes.html).'
      expiration_date:
        type: string
        description: Date indicating the validity period of the payment card.
      legal_entity_name:
        type: string
        description: Name of the merchant's legal entity.
      merchant_id:
        type: string
        description: Identifier of the merchant within the payment platform.
      payment_currency:
        type: string
        description: Currency of the payment (currency in which payment_amount is specified). Must be the ISO 4217 alpha-3 currency code.
      payment_type:
        type: string
        description: 'ID of the payment type. Possible values are: 3—Sale, 31—Purchase_dms, 6—Recurring, 24—Transfer, 11—Payout.'
      project_name:
        type: string
        description: Name of the merchant's website (project).
      project_url:
        type: string
        description: URL of the merchant's website (project).
      provider_payment_id:
        type: string
        description: dentifier of the operation assigned by the external payment system / provider.
      recurring_id:
        type: string
        description: ID of debiting series received in the callback with the COF purchase registration data. This ID is used for all debits performed as part of the COF purchase.
      recurring_register:
        type: string
        description: 'Specifies whether the recurring purchase was registered. Possible values are: 0—No. 1—Yes.'
      recurring_valid_thru:
        type: string
        description: Specifies the date until which the COF purchase is valid.
      remaining_refund:
        type: string
        description: 'Reflects the remaining balance, only available for the operations which at certain point had success status.'
      secure_3ds_check:
        type: string
        description: 'Specifies whether the customer was redirected to the ACS (Access Control Service) page where the password from the text message is entered. Possible values are: 0—Was not redirected. 1—Was redirected.'
      transaction_completed_at:
        type: string
        description: Time of the payment completion.
      transaction_created_at:
        type: string
        description: Time of the payment creation.
      transaction_status:
        type: string
        description: Payment status.
    x-stoplight:
      id: 6pw0wivstythr
  ApiErrorResponse:
    title: ApiErrorResponse
    type: object
    description: Error details.
    properties:
      name:
        type: string
        description: Error name.
      message:
        type: string
        description: Description of error cause.
      code:
        type: integer
        description: HTTP error code.
      status:
        type: integer
        description: 'HTTP response code, for example 400 or 401.'
    required:
      - status
    x-stoplight:
      id: x5bu55ic1es8v
  ApiOperationsList:
    title: ApiOperationsList
    type: object
    description: List of operations with operation details.
    properties:
      operations:
        type: array
        items:
          $ref: '#/definitions/OperationItem'
      signature:
        type: string
        description: Digital signature generated by using secret key (salt) of Monetix Dashboard user account. The payment platform uses the same key that was previously used to sign the request.
    x-stoplight:
      id: ys0innvlrngjw
consumes:
  - application/json
produces:
  - application/json
