{
  "swagger": "2.0",
  "info": {
    "version": "2.0.04",
    "title": "Data API",
    "description": "Reporting API for retrieving balances, operations, and payment data from the platform.\n\n**Base URL**\n\n`https://data.platform.dev/v1`\n\n**Use this API when**\n\n- you need reporting and reconciliation data\n- you need operation history or payment details\n- you want balances and analytics-style backend access\n\n**You need before start**\n\n- `token` generated in Dashboard for the target user account\n- `secret_key` associated with that token to generate `signature`\n\n**Start here**\n\n- [Using Data API](../dashboard/dbl-api-protocol/)\n- [Dashboard docs](../dashboard/)\n\n**First endpoints to try**\n\n- `POST /balance/get`\n- `POST /operations/get`\n- `POST /payment/get`\n\n**Important rule**\n\nData API is for retrieval and reporting. Use Host-to-host API for payment creation, refunds, payouts, and other transactional flows."
  },
  "host": "data.platform.dev",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/balance/get": {
      "post": {
        "operationId": "POST_balance-get",
        "summary": "/balance/get",
        "tags": [
          "Balance"
        ],
        "description": "Request to retrieve merchant contracts balances.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "description": "Token generated by Platform Dashboard for user account."
                },
                "signature": {
                  "type": "string",
                  "description": "Digital signature generated by using secret key ('salt') associated with the token specified in the token parameter."
                }
              },
              "required": [
                "token",
                "signature"
              ]
            },
            "x-examples": {
              "application/json": {
                "token": "ZOyTL5shY8ddhpxdQyplRPJYmGV7Kv",
                "signature": "dQcIbv94Z0nPTYX9glSCi...jqInXqYrY9bzkfcBGQ=="
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiBalanceList"
            },
            "examples": {
              "application/json": {
                "balance": [
                  {
                    "name": "Project_Cosmo1_balance_USD",
                    "USD": "1010750"
                  },
                  {
                    "name": "Project_Cosmo1_balance_SGD",
                    "SGD": "310099"
                  },
                  {
                    "name": "Project_Cosmo1_balance_EUR",
                    "EUR": "113128"
                  }
                ],
                "signature": "3XOq69...OKvPLwQQrRtwxFy5gTz1ggQkoMK9tw5w=="
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "429": {
            "description": "Request rate error",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/fraud/list": {
      "post": {
        "operationId": "POST_fraud_list",
        "summary": "/fraud/list",
        "tags": [
          "Fraud"
        ],
        "description": "Request to retrieve the list of operations deemed as fraudulent by external payment providers.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "description": "Token generated in the Platform Dashboard for the user account."
                },
                "signature": {
                  "type": "string",
                  "description": "Digital signature generated by using secret key ('salt') associated with the token specified in the token parameter."
                },
                "filter": {
                  "type": "object",
                  "description": "Object used for filtering chargeback data by various parameters. \n",
                  "properties": {
                    "received_on": {
                      "type": "array",
                      "description": "Date when the payment system reported the fraudulent operation. The parameter must contain start and end dates specified in 24-hour format of the time period for which the data is retrieved. Format: [YYYY-MM-DD HH:MM:SS,YYYY-MM-DD HH:MM:SS].",
                      "items": {
                        "type": "string"
                      }
                    },
                    "purchase_date": {
                      "type": "array",
                      "description": "Date when the operation was completed. The parameter must contain start and end dates specified in 24-hour format of the time period for which the data is retrieved. By default, the response returns 20 fraudulent operations most recently completed. Format: [YYYY-MM-DD HH:MM:SS,YYYY-MM-DD HH:MM:SS].",
                      "items": {
                        "type": "string"
                      }
                    },
                    "fraud_report_date": {
                      "type": "array",
                      "description": "Date when the operation was reported as fraudulent to the issuing bank. The parameter must contain start and end dates specified in 24-hour format of the time period for which the data is retrieved. By default, the response returns 20 fraudulent operations most recently reported. Format: [YYYY-MM-DD HH:MM:SS,YYYY-MM-DD HH:MM:SS].",
                      "items": {
                        "type": "string"
                      }
                    },
                    "issuer_country": {
                      "type": "array",
                      "description": "Country of the issuer determined according to the BIN of the card. Array of one or more country codes in ISO 3166-1 alpha-2 format ([Country codes](https://developers.platform.dev/en/en_country_codes.html)).",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "pagination": {
                  "type": "object",
                  "description": "Pagination is used to restrict the number of fraud operations information about which is returned in a single response.",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "description": "Number of entries to return per request. Default value is 20. Maximum value is not set."
                    },
                    "offset": {
                      "type": "integer",
                      "description": "Pagination start offset. Specifies the number of entries to skip, before starting to return entries. Default value is 0."
                    }
                  }
                }
              },
              "required": [
                "token",
                "signature"
              ]
            },
            "x-examples": {
              "example-1": {
                "token": "ZOyTL5shYsdhpxdQdfdfJYmGV7Kv",
                "signature": "sd0fr5YxcVmJ...grkglpeXJg==",
                "filter": {
                  "purchase_date": [
                    "2023-12-31 00:00:00",
                    "2024-01-07 23:59:59"
                  ],
                  "fraud_report_date": [
                    "2024-01-01 00:00:00",
                    "2024-01-01 23:59:59"
                  ],
                  "issuer_country": [
                    "GB",
                    "FR"
                  ]
                },
                "pagination": {
                  "limit": 1000
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FraudApiOperationsList"
            },
            "examples": {
              "example-1": {
                "operations": [
                  {
                    "payment_id": "cosmopayment15_rogd",
                    "operation_id": 6435212162442,
                    "tr_amount": "180.00",
                    "tr_ccy": "GBP",
                    "account_number": "424242******4242",
                    "payment_method_type": "visa",
                    "row_updated_at": "2024-01-01 05:30:30",
                    "customer_id": "earthling1232442",
                    "project_name": "cosmoshop.earth",
                    "project_id": "123",
                    "arn": "14736364365402210100727",
                    "fraud_type": "6",
                    "fraud_report_date": "2024-01-01",
                    "issuer_country": "GB",
                    "received_on": "2024-01-01",
                    "purchase_date": "2023-12-31",
                    "channel_amount_in_usd": "234.58",
                    "issuer_bank_name": "Intergalactic Bank",
                    "bin": "123456",
                    "country_by_ip": "GB",
                    "customer_email": "earthling@earth.earth",
                    "report_and_purchase_date_difference": 2
                  }
                ],
                "signature": "k4iXC84dfwevT+...dS056fssBGIw=="
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "429": {
            "description": "Request rate error",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/operations/get": {
      "post": {
        "operationId": "POST_operations-get",
        "summary": "/operations/get",
        "tags": [
          "Operations"
        ],
        "description": "Request to retrieve operations performed in the payment platform for specific merchant projects.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "project_id": {
                  "type": "array",
                  "description": "Array of one or more project IDs. If array is omitted, the payment platform returns information for all projects accessible for the user account which is associated with the token specified in the token parameter.",
                  "items": {
                    "type": "integer"
                  }
                },
                "interval": {
                  "type": "object",
                  "description": "Time period with start and end times for which to retrieve data. By default, the response returns operations most recently completed.\r\nIf more than one request is received in the platform from a single Dashboard user account within 10 seconds and the time period for which the information is requested exceeds 180 days, these requests are processed one by one, with 10 seconds timeouts.",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "Start time in the YYYY-MM-DD hh:mm:ss format.\r\n"
                    },
                    "to": {
                      "type": "string",
                      "description": "End time in the YYYY-MM-DD hh:mm:ss format."
                    }
                  },
                  "required": [
                    "from",
                    "to"
                  ]
                },
                "tz": {
                  "type": "string",
                  "description": "Identifier of the time zone for the time period. If the request does not contain this parameter, the default is the time zone of the Dashboard user account associated with the token from the token parameter. The time zone affects what operations will be selected for the time period specified in the interval object and the format of time parameters in the response—operation_created_at and operation_completed_at. Can be one of the names in the IANA time zone database (for example, Indian/Mauritius) or the UTC offset (for example, +10:30)."
                },
                "limit": {
                  "type": "integer",
                  "description": "Number of entries to return per request. Maximum and default value is 1000."
                },
                "offset": {
                  "type": "integer",
                  "description": "Pagination start offset. Specifies the number of entries to skip, before starting to return entries. Default value is 0."
                },
                "operation_type": {
                  "type": [
                    "array",
                    "string"
                  ],
                  "description": "Operation type[s]. One or more operation types supported by the Platform payment platform. The operation_type variable can be passed as an array (if you need to pass one or more values) and as a string (if you need to pass a single value).",
                  "items": {
                    "type": "string"
                  }
                },
                "operation_status": {
                  "type": [
                    "array",
                    "string"
                  ],
                  "description": "Operation status[es]. One or more operation statuses supported by the Platform payment platform. The operation_status variable can be passed as an array (if you need to pass one or more values) and as a string (if you need to pass a single value).",
                  "items": {
                    "type": "string"
                  }
                },
                "customer_id": {
                  "type": [
                    "array",
                    "string"
                  ],
                  "description": "Unique customer identifier[s]. One or more unique identifiers of customers in your project. The customer_id variable can be passed as an array (if you need to pass one or more values) and as a string (if you need to pass a single value).",
                  "items": {
                    "type": "string"
                  }
                },
                "customer_email": {
                  "type": "string",
                  "description": "Customer email."
                },
                "token": {
                  "type": "string",
                  "description": "Token generated in Platform Dashboard for user account."
                },
                "fields": {
                  "type": "array",
                  "description": "An array of one or more parameter names the values of which are needed to be returned for each operation in the response. In the array, the parameter names must be enclosed in matching quotation marks and separated by commas and can be specified in an arbitrary order (for example, operation_id, payment_id, project_id). However, in the response the parameter values are returned in the fixed order which, together with the list of parameters, is defined in the response specification.  If the array is omitted, then the response contains the values of the required parameters for each operation.",
                  "items": {
                    "type": "string"
                  }
                },
                "signature": {
                  "type": "string",
                  "description": "Digital signature generated by using secret key ('salt') associated with the token specified in the token parameter."
                }
              },
              "required": [
                "token",
                "signature"
              ]
            },
            "x-examples": {
              "application/json": {
                "project_id": [
                  0,
                  11
                ],
                "interval": {
                  "from": "2024-08-01 00:00:00",
                  "to": "2024-08-28 23:59:59"
                },
                "limit": "2",
                "offset": "1000",
                "operation_type": [
                  "sale",
                  "refund"
                ],
                "operation_status": [
                  "success",
                  "decline"
                ],
                "customer_email": "astronaut@earth.station",
                "token": "ZOyTL5shY8ddhpxdQyplRPJYmGV7Kv",
                "fields": [
                  "operation_id",
                  "operation_type",
                  "operation_status",
                  "sum_initial.amount",
                  "sum_initial.currency",
                  "customer_email"
                ],
                "signature": "sd0fr5YsdBVmJ...grkglpeXJg=="
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiOperationsList"
            },
            "examples": {
              "application/json": {
                "operations": [
                  {
                    "operation_id": "6435212162442",
                    "operation_type": "sale",
                    "operation_status": "success",
                    "sum_initial": {
                      "amount": 1200,
                      "currency": "USD"
                    },
                    "customer_email": "astronaut@earth.station"
                  },
                  {
                    "operation_id": "1232452442",
                    "operation_type": "refund",
                    "operation_status": "success",
                    "sum_initial": {
                      "amount": 5800,
                      "currency": "EUR"
                    },
                    "customer_email": "astronaut@earth.station"
                  }
                ],
                "signature": "k4iXC845FvT+...dS0AH5BGIw=="
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "429": {
            "description": "Request rate error",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/operations/get-by-payment": {
      "post": {
        "operationId": "POST_operations-get-by-payment",
        "summary": "/operations/get-by-payment",
        "tags": [
          "Operations"
        ],
        "description": "Request to retrieve all the operations performed in the payment platform for specific payment.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "payment_id": {
                  "type": "string",
                  "description": "Payment ID in the project."
                },
                "token": {
                  "type": "string",
                  "description": "Token generated by Platform Dashboard for user account."
                },
                "signature": {
                  "type": "string",
                  "description": "Digital signature generated by using secret key ('salt') associated with the token specified in the token parameter."
                }
              },
              "required": [
                "payment_id",
                "token",
                "signature"
              ]
            },
            "x-examples": {
              "application/json": {
                "payment_id": "PID_25467851461-2147",
                "token": "VmJQhaXILAnZWTKmqwSd3j",
                "signature": "JM+YWmTL7uGn26IgZWTKmqwSd...tRkvdC0yaq030+eNXVtJjjtgrkglpeXJg=="
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "List of operations with operation details.",
              "properties": {
                "operations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "Operation details.",
                    "properties": {
                      "operation_id": {
                        "type": "string",
                        "description": "Payment operation ID provided by Platform."
                      },
                      "operation_type": {
                        "type": "string",
                        "description": "Operation type. One of operation types supported by the Platform payment platform."
                      },
                      "operation_created_at": {
                        "type": "string",
                        "description": "Date and time when the operation was created. Format: YYYY-MM-DD hh:mm:ss."
                      },
                      "operation_completed_at": {
                        "type": "string",
                        "description": "Date and time when the operation was completed in the payment platform. Format: YYYY-MM-DD hh:mm:ss."
                      },
                      "amount": {
                        "type": "number",
                        "description": "Operation amount in minor currency units."
                      },
                      "currency": {
                        "type": "string",
                        "description": "Operation currency code. Currency code must comply with ISO 4217 alpha-3."
                      },
                      "arn": {
                        "type": "string",
                        "description": "Acquirer Reference Number - 23 digits of the unique operation identifier in clearing exchange between banks or processing centers."
                      },
                      "rrn": {
                        "type": "string",
                        "description": "Reference Retrieval Number - 12 digits of the unique operation identifier, which is assigned by the Acquirer Bank when the payment is initialized."
                      }
                    },
                    "required": [
                      "operation_id",
                      "operation_type",
                      "operation_created_at",
                      "operation_completed_at",
                      "amount",
                      "currency",
                      "arn",
                      "rrn"
                    ]
                  }
                },
                "signature": {
                  "type": "string",
                  "description": "Digital signature generated by using secret key (salt) of Platform Dashboard user account. The payment platform uses the same key that was previously used to sign the request."
                }
              }
            },
            "examples": {
              "application/json": {
                "operations": [
                  {
                    "arn": "",
                    "operation_completed_at": "2024-11-22T13:13:04+00:00",
                    "operation_type": "refund",
                    "operation_id": "2747253065470",
                    "amount": 221,
                    "currency": "USD",
                    "operation_created_at": "2024-11-22T13:13:04+00:00",
                    "rrn": "803817399309"
                  },
                  {
                    "arn": "",
                    "operation_completed_at": "2024-11-22T13:09:03+00:00",
                    "operation_type": "capture",
                    "operation_id": "2747253065469",
                    "amount": 1621,
                    "currency": "USD",
                    "operation_created_at": "2024-11-22T13:09:03+00:00",
                    "rrn": "000000248370"
                  },
                  {
                    "arn": "",
                    "operation_completed_at": "2024-11-22T13:06:40+00:00",
                    "operation_type": "auth",
                    "operation_id": "2747253065468",
                    "amount": 2000,
                    "currency": "USD",
                    "operation_created_at": "2024-11-22T13:06:38+00:00",
                    "rrn": "000047769105"
                  }
                ],
                "signature": "hsUpqn7QPDxNLNH/ZulaK...z/Hv7NkQFujSnvw=="
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "429": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ApiBalanceList": {
      "title": "ApiBalanceList",
      "type": "object",
      "description": "List of balances with balance details.",
      "properties": {
        "balance": {
          "type": "array",
          "description": "Array of balances.",
          "items": {
            "$ref": "#/definitions/BalanceTransactionItem"
          }
        },
        "signature": {
          "type": "string",
          "description": "Digital signature generated by using secret key (salt) of Platform Dashboard user account. The payment platform uses the same key that was previously used to sign the request.",
          "example": "string"
        }
      }
    },
    "ApiErrorResponse": {
      "type": "object",
      "description": "Error details.",
      "required": [
        "status"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Error name.",
          "example": "string"
        },
        "message": {
          "type": "string",
          "description": "Description of error cause.",
          "example": "string"
        },
        "code": {
          "type": "integer",
          "description": "HTTP error code.",
          "example": 0
        },
        "status": {
          "type": "integer",
          "description": "HTTP response code, for example 400 or 401.",
          "example": 0
        }
      }
    },
    "ApiOperationsList": {
      "type": "object",
      "description": "List of operations with operation details.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationItem"
          }
        },
        "signature": {
          "type": "string",
          "description": "Digital signature generated by using secret key (salt) of Platform Dashboard user account. The payment platform uses the same key that was previously used to sign the request.",
          "example": "string"
        }
      }
    },
    "BalanceTransactionItem": {
      "title": "BalanceTransactionItem",
      "type": "object",
      "description": "Balance details.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Balance name within the contract.",
          "example": "string"
        },
        "{additionalProperties}": {
          "type": "string",
          "description": "Currency code and balance amount in minor currency units presented as parameter-value pair, for example: EUR: 5000. Currency code is specified as the parameter name. Balance amount is specified as parameter value.",
          "example": "string"
        }
      }
    },
    "DateRange": {
      "type": "object",
      "description": "The object must contain start and end dates of the time period for which the data is retrieved.",
      "properties": {
        "from": {
          "type": "string",
          "description": "Start date of the required time period. ",
          "example": "string"
        },
        "to": {
          "type": "string",
          "description": "End date of the required time period.",
          "example": "string"
        }
      }
    },
    "FraudApiOperationsList": {
      "title": "FraudApiOperationsList",
      "type": "object",
      "description": "List of fraudulent operations.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "payment_id": {
                "type": "string",
                "description": "Payment ID in the project.",
                "example": "string"
              },
              "operation_id": {
                "type": "integer",
                "description": "Operation ID provided by Platform.",
                "example": 0
              },
              "tr_amount": {
                "type": "string",
                "description": "Fraudulent operation amount (full operation amount).",
                "example": "string"
              },
              "tr_ccy": {
                "type": "string",
                "description": "Fraudulent operation currency code in ISO 4217 alpha-3 format ([Currency codes](https://developers.platform.dev/en/en_currency_codes.html)).",
                "example": "string"
              },
              "account_number": {
                "type": "string",
                "description": "Number of the card used by the customer.",
                "example": "string"
              },
              "payment_method_type": {
                "type": "string",
                "description": "Type of the payment method used for payment processing.",
                "example": "string"
              },
              "row_updated_at": {
                "type": "string",
                "description": "The date and time of the most recent update of the fraudulent operation record in the payment platform.",
                "example": "string"
              },
              "customer_id": {
                "type": "string",
                "description": "Identifier of the customer in the merchant's project.",
                "example": "string"
              },
              "project_name": {
                "type": "string",
                "description": "Name of the merchant's website (project).",
                "example": "string"
              },
              "project_id": {
                "type": "string",
                "description": "Project ID provided by Platform.",
                "example": "string"
              },
              "arn": {
                "type": "string",
                "description": "Acquirer Reference Number: a unique operation identifier in clearing exchange between banks or processing centers.",
                "example": "string"
              },
              "fraud_type": {
                "type": "string",
                "description": "Type of fraud declared by the issuer when submitting information about fraudulent operations to payment systems",
                "example": "string"
              },
              "fraud_report_date": {
                "type": "string",
                "description": "Date when the operation was reported as fraudulent to the issuing bank. Format: [YYYY-MM-DD].",
                "example": "string"
              },
              "issuer_country": {
                "type": "string",
                "description": "Country of the issuer determined according to the BIN of the card (two-letter ISO code).",
                "example": "string"
              },
              "received_on": {
                "type": "string",
                "description": "Date when the payment system reported the fraudulent operation.",
                "example": "string"
              },
              "purchase_date": {
                "type": "string",
                "description": "Date when the operation was completed. Format: [YYYY-MM-DD,YYYY-MM-DD].",
                "example": "string"
              },
              "channel_amount_in_usd": {
                "type": "string",
                "description": "Fraudulent operation amount in USD.",
                "example": "string"
              },
              "issuer_bank_name": {
                "type": "string",
                "description": "Name of the issuer determined according to the BIN of the card.",
                "example": "string"
              },
              "bin": {
                "type": "string",
                "description": "Bank Identification Number that refers to the first six to eight digits of PAN, also known as IIN (Issuer Identification Number).",
                "example": "string"
              },
              "country_by_ip": {
                "type": "string",
                "description": "Country determined according to the IP address of the customer (two-letter ISO country code).",
                "example": "string"
              },
              "customer_email": {
                "type": "string",
                "description": "Customer email address.",
                "example": "string"
              },
              "report_and_purchase_date_difference": {
                "type": "integer",
                "description": "The number of full days between fraud report and purchase dates.",
                "example": 0
              }
            }
          }
        },
        "signature": {
          "type": "string",
          "description": "Digital signature generated by using secret key (salt) of Platform Dashboard user account. The payment platform uses the same key that was previously used to sign the request.",
          "example": "string"
        }
      }
    },
    "OperationItem": {
      "title": "OperationItem",
      "type": "object",
      "description": "Operation details.",
      "properties": {
        "project_id": {
          "type": "string",
          "description": "Project ID provided by Platform.",
          "example": "string"
        },
        "operation_id": {
          "type": "string",
          "description": "Payment operation ID provided by Platform.",
          "example": "string"
        },
        "payment_id": {
          "type": "string",
          "description": "Payment ID in the project.",
          "example": "string"
        },
        "operation_type": {
          "type": "string",
          "description": "Operation type. One of the operation types supported by the Platform payment platform.",
          "example": "string"
        },
        "operation_status": {
          "type": "string",
          "description": "Operation status. One of the operation statuses supported by the Platform payment platform.",
          "example": "string"
        },
        "account_number": {
          "type": "string",
          "description": "ID of the payment instrument used by customer, for example, card number or wallet ID.",
          "example": "string"
        },
        "customer_ip": {
          "type": "string",
          "description": "Customer IP address.",
          "example": "string"
        },
        "payment_method_name": {
          "type": "string",
          "description": "Name of the payment method used for payment processing.",
          "example": "string"
        },
        "payment_method_type": {
          "type": "string",
          "description": "Type of the payment method used for payment processing.",
          "example": "string"
        },
        "payment_description": {
          "type": "string",
          "description": "Description of the payment as specified in the initial request.",
          "example": "string"
        },
        "operation_created_at": {
          "type": "string",
          "description": "Date and time when the operation was created. Format: YYYY-MM-DD hh:mm:ss.",
          "example": "string"
        },
        "operation_completed_at": {
          "type": "string",
          "description": "Date and time when the operation was completed in the payment platform. Format: YYYY-MM-DD hh:mm:ss.",
          "example": "string"
        },
        "provider_date": {
          "type": "string",
          "description": "Date and time when the operation was completed on the payment provider side. Format: YYYY-MM-DD hh:mm:ss.",
          "example": "string"
        },
        "shipment_date": {
          "type": "string",
          "description": "Date and time when the payment provider posted the operation for clearing. Format: YYYY-MM-DD hh:mm:ss.",
          "example": "string"
        },
        "sum_initial": {
          "type": "object",
          "description": "Amount and currency code of the operation as specified in the initial request.",
          "required": [
            "amount",
            "currency"
          ],
          "properties": {
            "amount": {
              "type": "string",
              "description": "Operation amount in minor currency units as specified in the initial request.",
              "example": "string"
            },
            "currency": {
              "type": "string",
              "description": "Operation currency code as specified in the initial request. Must be the ISO 4217 alpha-3 currency code.",
              "example": "string"
            }
          }
        },
        "sum_converted": {
          "type": "object",
          "description": "Code of the currency that the payment provider used for performing the operation and the initial amount converted to this currency.",
          "required": [
            "amount",
            "currency"
          ],
          "properties": {
            "amount": {
              "type": "string",
              "description": "Operation amount in minor units of the payment provider currency.",
              "example": "string"
            },
            "currency": {
              "type": "string",
              "description": "Code of the currency that the payment provider used for performing the operation. Must be the ISO 4217 alpha-3 currency code.",
              "example": "string"
            }
          }
        },
        "arn": {
          "type": "string",
          "description": "Acquirer Reference Number: a unique operation identifier in clearing exchange between banks or processing centers.",
          "example": "string"
        },
        "rrn": {
          "type": "string",
          "description": "Reference Retrieval Number: a unique operation identifier assigned by the acquirer bank when the payment is initialized.",
          "example": "string"
        },
        "payment_provider_code": {
          "type": "string",
          "description": "Numeric code of payment result from the card issuer or payment provider.",
          "example": "string"
        },
        "payment_provider_message": {
          "type": "string",
          "description": "Message of payment result from the card issuer or payment provider.",
          "example": "string"
        },
        "acquirer_bank_name": {
          "type": "string",
          "description": "Name of the acquirer bank.",
          "example": "string"
        },
        "auth_code": {
          "type": "string",
          "description": "Alphanumeric code which confirms that the card issuer / payment system approved processing of the payment. Authorization codes are not assigned to declined payments.",
          "example": "string"
        },
        "avs_post_code": {
          "type": "string",
          "description": "Customer postal code for verification with the Address Verification Service. AVS applies to cardholders from the UK, USA, and Canada.",
          "example": "string"
        },
        "avs_result": {
          "type": "string",
          "description": "A single-letter Address Verification Service response code sent by the issuer following the address verification. AVS applies to cardholders from the UK, USA, and Canada.",
          "example": "string"
        },
        "avs_street_address": {
          "type": "string",
          "description": "Customer postal address for verification with the Address Verification Service. AVS applies to cardholders from the UK, USA, and Canada.",
          "example": "string"
        },
        "balance_id": {
          "type": "string",
          "description": "ID of the merchant's balance aggregation in the Platform payment platform under which all merchant accounts are aggregated. This ID is masked by adding id_mask to the initial identifier.",
          "example": "string"
        },
        "bank_name": {
          "type": "string",
          "description": "Name of the issuer determined according to the BIN of the card.",
          "example": "string"
        },
        "bin": {
          "type": "string",
          "description": "Bank Identification Number (first six to eight digits of PAN). Numeric identifier of the card organization member. Assigned separately to each card level (for example, Classic, Standard, Gold, Maestro, Visa Electron, etc.) offered by the issuing bank—a card organization member. Also referred to as IIN (Issuer Identification Number).",
          "example": "string"
        },
        "card_enroll_check": {
          "type": "string",
          "description": "Specifies if the card supports 3-D Secure. Possible values are: E—Enrolled (the card supports 3DS), N—Not enrolled, U—Undefined (was unable to determine).",
          "example": "string"
        },
        "card_holder": {
          "type": "string",
          "description": "The name of the cardholder (as specified on the card).",
          "example": "string"
        },
        "card_product_name": {
          "type": "string",
          "description": "Name of the bank product determined according to the BIN of the card.",
          "example": "string"
        },
        "card_token": {
          "type": "string",
          "description": "Token of the customer bank card in the Platform payment platform.",
          "example": "string"
        },
        "completed_refund": {
          "type": "string",
          "description": "Amount of the issued refund in minor units of currency.",
          "example": "string"
        },
        "country_by_ip": {
          "type": "string",
          "description": "Country determined according to the IP address of the customer (two-letter ISO country code).",
          "example": "string"
        },
        "country_by_bin": {
          "type": "string",
          "description": "Country determined according to the BIN of the card, country of the card's issuer (two-letter ISO code).",
          "example": "string"
        },
        "currency_rate": {
          "type": "string",
          "description": "Currency exchange rate used for conversion of the payment amount from the source currency to the default currency.",
          "example": "string"
        },
        "customer_email": {
          "type": "string",
          "description": "Customer email address.",
          "example": "string"
        },
        "customer_id": {
          "type": "string",
          "description": "Identifier of the customer in the merchant's project.",
          "example": "string"
        },
        "eci": {
          "type": "string",
          "description": "Electronic commerce indicator. For possible values and more information, see [ECI codes](https://developers.platform.dev/en/en_eci_codes.html).",
          "example": "string"
        },
        "expiration_date": {
          "type": "string",
          "description": "Date indicating the validity period of the payment card.",
          "example": "string"
        },
        "legal_entity_name": {
          "type": "string",
          "description": "Name of the merchant's legal entity.",
          "example": "string"
        },
        "merchant_id": {
          "type": "string",
          "description": "Identifier of the merchant within the payment platform.",
          "example": "string"
        },
        "payment_currency": {
          "type": "string",
          "description": "Currency of the payment (currency in which payment_amount is specified). Must be the ISO 4217 alpha-3 currency code.",
          "example": "string"
        },
        "payment_type": {
          "type": "string",
          "description": "ID of the payment type. Possible values are: 3—Sale, 31—Purchase_dms, 6—Recurring, 24—Transfer, 11—Payout.",
          "example": "string"
        },
        "project_name": {
          "type": "string",
          "description": "Name of the merchant's website (project).",
          "example": "string"
        },
        "project_url": {
          "type": "string",
          "description": "URL of the merchant's website (project).",
          "example": "string"
        },
        "provider_payment_id": {
          "type": "string",
          "description": "Identifier of the operation assigned by the external payment system / provider.",
          "example": "string"
        },
        "recurring_id": {
          "type": "string",
          "description": "ID of debiting series received in the callback with the COF purchase registration data. This ID is used for all debits performed as part of the COF purchase.",
          "example": "string"
        },
        "recurring_register": {
          "type": "string",
          "description": "Specifies whether the recurring purchase was registered. Possible values are: 0—No. 1—Yes.",
          "example": "string"
        },
        "recurring_valid_thru": {
          "type": "string",
          "description": "Specifies the date until which the COF purchase is valid.",
          "example": "string"
        },
        "remaining_refund": {
          "type": "string",
          "description": "Reflects the remaining balance, only available for the operations which at certain point had success status.",
          "example": "string"
        },
        "secure_3ds_check": {
          "type": "string",
          "description": "Specifies whether the customer was redirected to the ACS (Access Control Service) page where the password from the text message is entered. Possible values are: 0—Was not redirected. 1—Was redirected.",
          "example": "string"
        },
        "transaction_completed_at": {
          "type": "string",
          "description": "Time of the payment completion.",
          "example": "string"
        },
        "transaction_created_at": {
          "type": "string",
          "description": "Time of the payment creation.",
          "example": "string"
        },
        "transaction_status": {
          "type": "string",
          "description": "Payment status.",
          "example": "string"
        }
      },
      "required": [
        "project_id",
        "operation_id",
        "payment_id",
        "operation_type",
        "operation_status",
        "account_number",
        "customer_ip",
        "payment_method_name",
        "payment_method_type",
        "payment_description",
        "operation_created_at",
        "provider_date",
        "shipment_date",
        "sum_initial",
        "sum_converted",
        "arn",
        "rrn",
        "payment_provider_code",
        "payment_provider_message"
      ]
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ]
}
